<FluentCard AreaRestricted="false" Style="width:100%;padding:2px;">
    <FluentStack Orientation="Orientation.Vertical" Class="stack">
        <FluentLabel Typo="Typography.H6">@Title</FluentLabel>

        @if (TitleContent != null)
        {
            @TitleContent
        }
        @if (Content != null)
        {
            <div style="width:100%">
                @Content
            </div>

        }
        @if (Actions != null)
        {
            <FluentStack Orientation="Orientation.Horizontal" style="padding:4px;">
                @Actions
            </FluentStack>
        }
    </FluentStack>
</FluentCard>
<style>
    .card {
        width: 100%;
        height: 100%;
        padding: 4px;
        overflow: auto;
    }

    .stack {
        width: 100%;
        height: 100%;
    }

    .content {
        overflow: auto;
        max-height: calc(100% - 50px);
    }

    .actions {
        padding: 4px;
    }
</style>
@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }

    [Parameter]
    public RenderFragment? TitleContent { get; set; }
}
