<div class="header-section" style="@Response.Styles.GridStyle">
    <span class="col-generic"></span>
    <span class="col-id">ID</span>
    <span class="col-wbs">WBS</span>
    <span class="col-name">Name</span>
    <span class="col-date">Start Date</span>
    <span class="col-date">End Date</span>
    <span class="col-generic">Duration</span>
    <span class="col-generic">Dependences</span>
    <span class="col-generic">Type</span>
    <span class="col-generic">Lag</span>
    <span class="col-generic">Budget, $USD</span>
    <span class="col-actions">Actions</span>
</div>

@code {
    [Parameter]
    public DeliverableResponseList Response { get; set; } = new();
}