@if (Items == null || Items.Count == 0)
{
    <p>No items to display.</p>
}
else
{
    <table class="recursive-table">
        <thead>
            <tr class="recursive-table-row">
                <th class="column-labelorder soft-border">Order</th>
                <th class="soft-border">WBS</th>
                <th class="column-name soft-border">Name</th>
                <th class="column-date soft-border text-center">Start</th>
                <th class="column-date soft-border text-center">End</th>
                <th class="column-duration soft-border text-center">Duration</th>
                <th class="column-dependencies soft-border text-center">Dependencies</th>
                <th class="column-type soft-border text-center">Type</th>
                <th class="column-duration soft-border text-center">Lag</th>
                <th class="column-actions soft-border text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <DeliverableRow Item="item"
                                Level="0"
                                OnDoubleClick="OnDoubleClick"
                                OnEdit="OnEdit"
                                OnDelete="OnDelete"
                                CreateRow="@CreateRow"
                                EditRow="@EditRow"
                                OnCancelCreate="OnCancelCreate"
                                OnCancelEdit="OnCancelEdit"
                                OnSaveCreate="OnSaveCreate"
                                OnSaveEdit="OnSaveEdit"
                                OnClick="OnClick"
                                SelectedRow="@SelectedRow"
                                OnChangeDependencies="OnChangeDependencies"
                                OnChangeDependencyType="OnChangeDependencyType"
                                OnChangeDuration="OnChangeDuration"
                                OnChangeStartDate="OnChangeStartDate"
                                OnChangeEndDate="OnChangeEndDate"
                                OnChangeName="OnChangeName"
                                OnChangeLag="OnChangeLag"
                                GetAll="GetAll"
                                />
            }
        </tbody>
    </table>
}
<style>

    .column-labelorder {
        width: 5%;
    }

    .column-name {
        width: 35%;
    }

    .column-date {
        width: 10%;
    }

    .column-duration {
        width: 8%;
    }

    .column-type {
        width: 10%;
    }

    .column-dependencies {
        width: 12%;
    }

    .column-actions {
        width: 10%;
    }

    .soft-border {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        padding: 1px;
        background-color: #ffffff;
        transition: all 0.3s ease;
    }

    .active-row {
        background-color: #f0f8ff;
        transition: background-color 0.3s ease;
    }

    .recursive-table {
        border-collapse: collapse;
        width: 100%;
    }

    /* Estilo para las filas */
    .recursive-table-row {
        border: none;
    }
</style>
@code {

}
