
/* Contenedor responsivo */
.custom-table-responsive {
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
}

/* Estilos generales para la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

    .custom-table th,
    .custom-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    }

    .custom-table th {
        background-color: #f8f9fa; /* Color de fondo para los encabezados */
        font-weight: bold;
    }

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .custom-table th,
    .custom-table td {
        font-size: 14px; /* Reduce el tamaño del texto */
        padding: 6px; /* Reduce el padding */
    }

        /* Ocultar columnas no esenciales en pantallas pequeñas */
        .custom-table th:nth-child(6),
        .custom-table td:nth-child(6),
        .custom-table th:nth-child(7),
        .custom-table td:nth-child(7) {
            display: none; /* Oculta las columnas "Relation" y "Type" */
        }
}
