/* Contenedor responsivo */
.custom-table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh; /* Ajustar la altura máxima del contenedor */
}

/* Estilos generales para la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

    .custom-table th,
    .custom-table td {
        border: 1px solid #ddd;
        padding: 2px;
        text-align: left;
        white-space: nowrap;
    }

    .custom-table th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    /* Estilo para filas principales y subfilas */
    .custom-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .custom-table tr:nth-child(odd) {
        background-color: #ffffff;
    }
