@typeparam T
<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Normal" Gap="2"
             Style="width:100%;border: 1px dotted;padding: 4px;">
    @if (AddItem)
    {
        <RadzenRow>
            <RadzenColumn SizeXS="12" SizeSM="12">
                @Create

            </RadzenColumn>

        </RadzenRow>
    }
    else if (Selected != null)
    {
        <RadzenRow>
            <RadzenColumn SizeXS="12" SizeSM="12">
                @Update(Selected)

            </RadzenColumn>
        </RadzenRow>
    }
    else
    {
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" class="mb-2">
            <div>
                <RadzenButton MouseEnter="@(args => App.ShowTooltip(args,"Add "))" Icon="add" Click="Add"
                              ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"
                              Variant="Variant.Outlined" Shade="Shade.Lighter"></RadzenButton>
            </div>
            <div>
                <TextBox @bind-Value=@NameFilter Label="Search" PlaceHolder="Search ..." Change="@(arg=>NameFilterChanged.InvokeAsync(arg))"></TextBox>
            </div>
        </RadzenStack>

        @DataList

    }


</RadzenStack>

@code {

}
