@inherits LayoutComponentBase
<CascadingValue Value="this">

    <RadzenLayout>
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.SpaceBetween" Gap="0">
                <RadzenLabel Text="Project Charter" />
                <div>
                    <LoginDisplay />
                </div>



            </RadzenStack>
        </RadzenHeader>

        <RadzenBody>
            <ErrorBoundary>
                <ChildContent>

                    <RadzenCard>
                        @Body
                    </RadzenCard>

                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>

        </RadzenBody>
        <RadzenFooter>
            Footer
        </RadzenFooter>
    </RadzenLayout>

</CascadingValue>
<RadzenComponents />
